.mt-5, .my-5 {
    margin: 3rem auto !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}